<div class="form-group">
	<label for="contactFirstName" class="col-sm-2 control-label">First Name</label>
	<div class="col-sm-10">
		<input type="text" class="form-control" id="contactFirstName" placeholder="First Name" ng-model="temp.contact.firstName">
	</div>
</div>
<div class="form-group">
	<label for="contactLastName" class="col-sm-2 control-label">Last Name</label>
	<div class="col-sm-10">
		<input type="text" class="form-control" id="contactLastName" placeholder="Last Name" ng-model="temp.contact.lastName">
	</div>
</div>
<div class="form-group">
	<label for="contactPhone" class="col-sm-2 control-label">Phone</label>
	<div class="col-sm-10">
		<input type="text" class="form-control" id="contactPhone" placeholder="Phone" ng-model="temp.contact.phone">
	</div>
</div>
<div class="form-group">
	<label for="contactEmail" class="col-sm-2 control-label">Email</label>
	<div class="col-sm-10">
		<input type="text" class="form-control" id="contactEmail" placeholder="Email" ng-model="temp.contact.email">
	</div>
</div>
<div class="form-group">
	<label for="contactProfile" class="col-sm-2 control-label">Profile Link</label>
	<div class="col-sm-10">
		<input type="text" class="form-control" id="contactProfile" placeholder="Profile Link" ng-model="temp.contact.profile">
	</div>
</div>
<div class="form-group">
	<label for="contactAddress" class="col-sm-2 control-label">Address</label>
	<div class="col-sm-10">
		<textarea class="form-control" id="contactAddress" placeholder="Address" ng-model="temp.contact.address"></textarea>
	</div>
</div>
<div class="form-group">
	<label for="contactDetails" class="col-sm-2 control-label">Details</label>
	<div class="col-sm-10">
		<textarea class="form-control" id="contactDetails" placeholder="Details" ng-model="temp.contact.details"></textarea>
	</div>
</div>
<div class="form-group">
	<label for="contactTags" class="col-sm-2 control-label">Tags</label>
	<div class="col-sm-10">
		<input type="text" class="form-control" id="contactTags" placeholder="Tags" ng-model="temp.contact.tags">
	</div>
</div>