<div class="container" ng-controller="ContactCtrl">
	<nav class="navbar navbar-inverse moj9" role="navigation" ng-include="'modules/dashboard/contacts/partials/navbar.html'"></nav>

	<div class="row contacts">
		<h1>Contact Count: {{contacts.length}}</h1>
		<div ng-include="'modules/dashboard/contacts/views/'+view+'.html'"></div>
	</div>

	<div class="row">
		<div class="col-md-6">
			<div class="well clearfix">
				<h1>Add A Contact</h1>
				<form class="form-horizontal" role="form" ng-submit="tools.contact.add(temp.contact)">
					<div ng-include="'modules/dashboard/contacts/partials/contactForm.html'"></div>
					<button type="button" class="btn btn-warning" ng-click="tools.contact.generate()">Random</button>
					<button type="button" class="btn btn-danger" ng-click="tools.contact.remove(temp.contact)" ng-show="temp.contact.objectId">Delete contact</button>
					<button type="submit" class="btn btn-info pull-right">Save contact</button>
				</form>
			</div>
		</div>
	</div>

	<div class="modal fade" id="contactModal" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
					</button>
					<h4 class="modal-title">Contact</h4>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-md-9">
							<form class="form-horizontal" role="form" ng-submit="tools.contact.add(temp.contact)">
								<div ng-include="'modules/dashboard/contacts/partials/contactForm.html'"></div>
									
								<button type="button" class="btn btn-danger" ng-click="tools.contact.remove(temp.contact)" ng-show="temp.contact.objectId">Delete contact</button>
								<button type="submit" class="btn btn-info pull-right">Save contact</button>
							</form>
						</div>
						<div class="col-md-3">
							<ul class="list-group">
								<!--ng-show="twilio.status=='ready'"-->
								<li class="list-group-item">Phone: 208-357-9555</li>
								<!--Connection Buttons-->
								<li class="list-group-item" ng-show="!twilio.status">
									<button type="button" class="btn btn-primary btn-block" ng-click="rootTools.twilio.init()">Start Phone</button>
								</li>
								<li class="list-group-item" ng-show="twilio.status=='connecting'">
									<button type="button" class="btn btn-default btn-block">Connecting...</button>
								</li>
								<!--Call Status-->
								<li class="list-group-item" ng-show="twilio.callStatus=='ended'">
									<!--<input type="tel" class="form-control" placeholder="Number To Call" ng-model="outbound">-->
									<button type="button" class="btn btn-primary btn-block" ng-click="rootTools.twilio.call(temp.contact.phone)">Call</button>
								</li>
								<li class="list-group-item" ng-show="twilio.callStatus=='incoming'">
									<button type="button" class="btn btn-primary btn-block" ng-click="rootTools.twilio.accept()">Answer</button>
								</li>
								<li class="list-group-item" ng-show="twilio.callStatus=='connected'">
									<button type="button" class="btn btn-danger btn-block" ng-click="rootTools.twilio.hangup()">Hangup</button>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="modal-footer"></div>
			</div>
		</div>
	</div>
</div>