/*CUSTOM*/
html,body{
	height: 100%;
	padding: 0px;
	margin: 0px;
}
body{
	background-image: url('/assets/img/background/cristus.jpg');
	background-size: cover;
	background-attachment: fixed;
}
header{
	position: fixed;
	width: 100%;
	z-index: 1000;
}
section{
	padding: 100px 0 100px 0;
}
a{
	cursor: pointer;
}
h1{
	text-align: center;
}



/* Main */
#alerts .alert{
	box-shadow: -5px -5px 5px #000;
}



/*Something*/
.nav .notify{
	text-align: center;
	font-size: 18px;
	line-height: 50px;
	color: #FFF;
	border-right: 1px solid #FFF;
}
.nav .notify a{
	padding: 15px 20px;
}
.nav .notify .badge{
    position: absolute;
    bottom: 5px;
    right: 5px;
    background: #9EA;
}




/*CSS Overrides*/
.modal-body>img{
	max-width: 100%;
}
.fit{
	display: block;
	margin: 0px auto;
	max-width: 100%;
}
.media{
	clear: both;
}
.media-left{
	float: left;
	margin-right: 5px;
}
.media img{
	width: 64px;
	border-radius:6px;
}
/*This is for the upload a picture box.*/
div.thumbnail{
	margin: 0px auto;
	width:200px;
	height:200px;
	text-align:center;
	background: #999;
}
#map-canvas{
	width: 100%;
	height: 500px;
}

.tr, .br, .bl, .tl{
	position: fixed;
	padding: 5px;
	z-index: 999;
}
.tr, .tl{
	top: 0px;
}
.br, .bl{
	bottom: 0px;
}
.tl, .bl{
	left: 0px;
}
.tr, .br{
	right: 0px;
}

.point25{
	width: 20%;
}
[ng-click]{
	cursor: pointer;
}
























/* RESPONSIVE */

/* Small devices (tablets, 768px and down) */
@media (max-width: 768px) {
	.point25{
		width: 100%;
	}
}