<div class="container" ng-controller="SetupCtrl">
	<div class="row">
		<div class="col-md-4" ng-show="!data.roles.length">
			<div class="well">
				<h2 ng-click="tools.roles.setup()">Setup Roles</h2>
			</div>
		</div>
		<div class="col-md-4">
			<ul class="list-group">
			  <li class="list-group-item parent" ng-repeat="role in data.roles | orderBy:'order'">
			  	<h4>{{role.name}}</h4>
			  	<ul class="list child"><!-- child -->
					<li ng-repeat="user in role.users">
						<a ng-click="tools.user.editRoles(user)">
							<span class="title">{{user.fullName}}</span> - 
							<span class="sub">{{user.email}}</span>
						</a>
					</li>
				</ul>
			  </li>
			</ul>
		</div>
		<div class="col-md-4" ng-show="data.unassigned">
			<h2>Unassigned</h2>
			<ul class="list-group">
				<li class="list-group-item" ng-repeat="user in data.unassigned">
					<a ng-click="tools.user.editRoles(user)">
						<span class="title">{{user.fullName}}</span>
						<span class="sub">{{user.email}}</span>
					</a>
				</li>
			</ul>
		</div>
	</div>
	<div ng-include="'modules/admin/setup/partials/userModal.html'"></div>
	<div ng-include="'modules/admin/setup/partials/roleModal.html'"></div>
</div>